[Unit]
Description=Daily_ButterSnap
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/buttersnap -k 7 --sub-dir daily -s /
TimeoutStartSec=0




